body
{
    font:  Verdana, Arial, Helvetica, sans-serif;
    color: #050505;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main_canvas{
    margin-left: 3px;
    border : 1px solid #191919;
}
#square-size, #square-size-checkers, #square-size-ten, #square-size-six{
    position : absolute;
    left : -1000px;
}

#square-size{
    width : 1em;
    height : 1em;
}
#square-size-checkers  {
    width : 1.1em;
    height : 1.1em;
}
#square-size-ten {
    width : 0.9em;
    height : 0.9em;
}
header{
    margin-top: 3px;
    margin-bottom: 3px;
}
header a#logo_game{
    text-decoration:none;
    font-weight: bold;
    float: left;
    font-family : Ubuntu;
    font-size: 18px;
}
header a#logo_game span.cms{
    color: #b1ccdd;
}
header a#logo_game span.rs{
    color: #ff5050;
}
h1#title{
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
#msg{
    position: relative;
    color: #ff5050;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align:center;
}
#score{
    margin-left: 3px;
    margin-top: 6px;
    font-size: 22px;
}
#score .you{
    float: left;
}
#score span.red{
    color: #ff5050;
    font-weight:bold;
}
#clear{
    float: right;
    cursor: pointer;
}
